n8n/backup/workflows/V2_ATEC_RAG_AI_Agent.json
{
  "name": "V2 ATEC RAG AI Agent",
  "nodes": [
    {
      "parameters": {
        "name": "documents"
      },
      "id": "c15bd0a8-286a-4076-8ce8-8c0e54f73e2a",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1320,
        60
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "ab9fb44a-85c6-486b-b5de-0f9d768d91b2",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1840,
        660
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b5abf0a5-f62a-49a6-bf81-bf002ba4bb90",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2660,
        920
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1e2791c1-86e7-4fe1-a76d-732f87e6f41a",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2640,
        1160
      ]
    },
    {
      "parameters": {},
      "id": "de473f2f-b806-45bc-a0e0-2ef0d2aa9b55",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "836cd765-dae8-460e-951d-66e19d0cce77",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f8b5039c-4b00-453a-b30e-31a59f5d36ad",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        120
      ],
      "webhookId": "4b3b1838-d6b3-447e-9d79-d0931eddb9f8"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2f64907b-42ef-4bd6-83ba-e97584271bc7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        20
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4a839da9-b8a2-45f8-bcaf-c484f9a5912d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9a30041f-0c14-41d8-a811-229b890bb1b7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        300
      ],
      "webhookId": "4a839da9-b8a2-45f8-bcaf-c484f9a5912d"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8311e22f-bddd-41f8-9d40-fde119126dc9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        480,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0224882d-0c8a-4aa6-acb3-627a14f77a4c",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "6e41b927-e336-4245-8055-acb8b50c56ce",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "61413da9-2ac1-427f-92d9-1e7a446aeafa",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4988a14f-a2ea-4c4b-8f66-0f1773e11ea0",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        120
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1000,
        240
      ],
      "id": "9841944a-5a85-437d-a9ed-a3e7393d7a8d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "87VccbBrAomfMqZn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2300,
        600
      ],
      "id": "d72c6f38-7766-4a10-9897-362539a6bcc0",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "87VccbBrAomfMqZn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        860
      ],
      "id": "62d22d09-040b-4a16-bf04-001ed9e0156d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "container": {
          "__rl": true,
          "value": "n8n",
          "mode": "id"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.azureStorage",
      "typeVersion": 1,
      "position": [
        660,
        760
      ],
      "id": "b755b7a0-d9c6-4838-a0cb-ece4891063da",
      "name": "Azure Storage",
      "credentials": {
        "azureStorageSharedKeyApi": {
          "id": "xwJghg4wwP5auxAI",
          "name": "Azure Storage Shared Key account"
        }
      }
    },
    {
      "parameters": {
        "resource": "blob",
        "container": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.azureStorage",
      "typeVersion": 1,
      "position": [
        1060,
        740
      ],
      "id": "3f1a4416-1690-4c13-b3a2-921ceb4a9edd",
      "name": "Azure Storage1",
      "credentials": {
        "azureStorageSharedKeyApi": {
          "id": "xwJghg4wwP5auxAI",
          "name": "Azure Storage Shared Key account"
        }
      }
    },
    {
      "parameters": {
        "resource": "blob",
        "operation": "get",
        "container": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "blob": {
          "__rl": true,
          "value": "={{ $json.name }}",
          "mode": "id"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.azureStorage",
      "typeVersion": 1,
      "position": [
        1280,
        740
      ],
      "id": "9cf3c991-b58e-4de0-a6c8-f101c8d57380",
      "name": "Get Blob",
      "credentials": {
        "azureStorageSharedKeyApi": {
          "id": "xwJghg4wwP5auxAI",
          "name": "Azure Storage Shared Key account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2100,
        900
      ],
      "id": "db6fb05d-eb15-4514-92f2-05e948458bb9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ERck0yNvfvatCWAN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        460
      ],
      "id": "84a2ff63-9378-45d8-88a5-e47c1fe8eebb",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ERck0yNvfvatCWAN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1320,
        320
      ],
      "id": "887c64ff-b27a-4473-8c61-c2a551393096",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ERck0yNvfvatCWAN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        460
      ],
      "id": "8b3d4eec-4cfe-4c60-8009-a99b3c209a19",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ERck0yNvfvatCWAN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0224882d-0c8a-4aa6-acb3-627a14f77a4c",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "61413da9-2ac1-427f-92d9-1e7a446aeafa",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2b263c81-551d-4f0e-8972-77415487ce17",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Azure Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure Storage": {
      "main": [
        [
          {
            "node": "Azure Storage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure Storage1": {
      "main": [
        [
          {
            "node": "Get Blob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Blob": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76bdfbb2-6023-40c7-9268-01b69b690526",
  "meta": {
    "instanceId": "811786ad1ae74adfdd20dd0372abaaebc6246e343aebd01da0bfc4c02bf0106c",
    "templateCredsSetupCompleted": true
  },
  "id": "hrnPh6dXgIbGVzIk",
  "tags": []
}